<div class = "lists">
  <% if @goals.empty? == true  %>
  <h2> Enter New Goals </h2>
  <% else %>
      <% @goals.each do |goal| %>
      <ul class = "list">
        <li>
          <form action="/goals/<%= goal.id %>/check" method="post">
            <input type="submit" value="c">
          </form>
          <a href="/goals/<%= goal.id %>"><%= CGI.escapeHTML(goal.title) %></a>
          <form action="/goals/<%= goal.id %>/delete" method="post">
            <input type="submit" value="D">
          </form>
          <a href="/goals/<%= goal.id %>/edit">E</a>
        </li>
      </ul>
    <% end %>
  <% end %>
  <div class = "forms">
    <form action="/goals" method="post">
      <input type="text" name="title" placeholder="Enter new"><br>
      <input type="submit" value="Add">
    </form>
  </div>
</div>
