<div class = "lists">
  <% if @goals.empty? == true  %>
    <h2> Enter New Goals </h2>
  <% else %>
    <h2><%= @date.strftime("%m/%d %a") %></h2>
    <table>
      <thead>
        <tr>
          <th scope="cols"></th>
          <th scope="cols"></th>
          <th　scope="cols"></th>
          <th　scope="cols"></th>
        </tr>
      </thead>
      <% @goals.each do |goal| %>
      <tbody>
        <tr>
          <td class = "check">
            <form action="/goals/<%= goal.id %>/check" method="post">
              <input type="image" src="/SVG/checkbox-unchecked.svg" alt="Check">
            </form>
          </td>
          <td class = "goal">
            <a href="/goals/<%= goal.id %>"><%= CGI.escapeHTML(goal.title) %></a>
          </td>
          <td class = "delete">
            <form action="/goals/<%= goal.id %>/delete" method="post">
              <input type="image" src="/SVG/bin.svg" alt="Delete">
            </form>
          </td>
          <td class = "edit">
            <form action="/goals/<%= goal.id %>/edit" method="get">
              <input type="image" src="/SVG/pencil.svg" alt="Delete">
            </form>
          </td>
        </tr>
    </tbody>
    <% end %>
  </table>
<% end %>
  <div class = "forms">
    <form action="/goals" method="post">
      <input type="text" name="title" placeholder="Enter new"><br>
      <input type="submit" value="Add">
    </form>
  </div>
</div>
