<div class = "profile">
  <img src="/hanchan.png"></img>
  <h2>@<%= @user.name %>
    <a href="/profile/edit"><img src="/SVG/pencil.svg" alt="Edit"></a>
  </h2>
  <div class="friends">
    <p>Follow <%= @follows.count %></p>
    <p>Follower <%= @followers.count %></p>
  </div>
  <table>
    <thead>
      <tr>
        <th scope="cols"></th>
        <th scope="cols"></th>
        <th　scope="cols"></th>
      </tr>
    </thead>
    <% @goals.each do |goal| %>
    <tbody>
      <tr>
        <td class = "goal">
          <p><%= goal.title %></p>
        </td>
        <td class = "star">
          <img src="/SVG/star.svg" alt="favorite">
        </td>
        <td class = "favorite">
          <a><%= goal.favorite %></a>
        </td>
      </tr>
  </tbody>
    <% end %>
</table>
</div>
