<!-- # <%= current_user.name %>
#
# <% @goals.each do |goal| %>
#   <%= goal.title %>
#   <%= goal.favorite %>
# <% end %>
#
#
# <%= @follows.count %>
# <%= @followers.count %> -->

<form action="/profile/edit" method="post">
  <input type="text" name="name" placeholder="email"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="submit" value="Send">
</form>
