<%= @user.id %>
<%= @user.name %>
<% if @mutual_follower.empty? == true %>
  <form action="/user/<%= @user.id %>/follow" method="post">
    <input type="submit" value="follow">
  </form>
<% else %>
<form action="/user/<%= @user.id %>/follow/delete" method="post">
  <input type="submit" value="Unfollow">
</form>
<% end %>
<% @goals.each do |goal| %>
  <%= goal.title %>
  <%= goal.favorite %>
  <form action="/user/<%= @user.id %>/goal/<%= goal.id %>/favorite" method="post">
    <input type="submit" value="ファボ">
  </form>
<% end %>
