<div class = "profile">
  <img src="/hanchan.png"></img>
  <h2>@<%= @user.name %></h2>
  <div class="follow">
  <% if @mutual_follower.empty? == true %>
    <form action="/user/<%= @user.id %>/follow" method="post">
      <input type="submit" value="follow">
    </form>
  <% else %>
  <form action="/user/<%= @user.id %>/follow/delete" method="post">
    <input type="submit" value="Unfollow">
  </form>
  <% end %>
  </div>
  <table>
    <thead>
      <tr>
        <th scope="cols"></th>
        <th scope="cols"></th>
      </tr>
    </thead>
    <% @goals.each do |goal| %>
    <tbody>
      <tr>
        <td class = "star">
          <form action="/user/<%= @user.id %>/goal/<%= goal.id %>/favorite" method="post">
            <input type="image" src="/SVG/star.svg" alt="favorite">
          </form>
        </td>
        <td class = "goal">
          <p><%= goal.title %></p>
        </td>
      </tr>
  </tbody>
    <% end %>
  </table>
</div>
